## Ejemplo Regresión Lineal
### ¿Es posible predecir la prima del seguro de pacientes según sus características?

In [56]:
%config IPCompleter.greedy=True

# Importamos pandas y numpy
import pandas as pd
import numpy as np

In [57]:
# Cargamos nuestro dataset
df = pd.read_csv("insurance_clean.csv")

In [58]:
# Leer el conjunto de datos con la ayuda de la librería Pandas.
df.head()

   Unnamed: 0  age    bmi  children    charges
0           1   18  33.77         1  1725.5523
1           2   28  33.00         3  4449.4620
2           4   32  28.88         0  3866.8552
3           5   31  25.74         0  3756.6216
4           6   46  33.44         1  8240.5896

In [59]:
# Separar el conjunto de datos en dos variables ("X" para la columna "age" y "Y" para la variable de "charges") y los
# transformamos a DataFrames con la ayuda de pandas
X = pd.DataFrame(df.age)
y = pd.DataFrame(df.charges)

In [60]:
X.head()

   age
0   18
1   28
2   32
3   31
4   46

In [61]:
y.head()

     charges
0  1725.5523
1  4449.4620
2  3866.8552
3  3756.6216
4  8240.5896

In [62]:
# Separar las variables "X" y "Y" en conjuntos de entrenamiento y prueba, utilizando el método train_test_split 
# de la librería sklearn.model_selection.
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.33)

In [63]:
# Construir un modelo de regresión lineal usando "LinearRegresion" de la librería sklearn.linear_model, utilizando en 
# el eje de las "x" solamente la columna correspondiente a la variable "age", y en el eje de las "y" la variable "charges".
from sklearn.linear_model import LinearRegression
reg = LinearRegression().fit(X_train, y_train)

In [64]:
# Evaluar el modelo con la métrica r2_score tanto en el conjunto de entrenamiento como en el de prueba.
from sklearn.metrics import r2_score

y_train_hat = reg.predict(X_train)
y_test_hat = reg.predict(X_test)

print("R2 train: ", r2_score(y_train, y_train_hat))
print("R2 test: ", r2_score(y_test, y_test_hat))

R2 train:  0.9141975510579049
R2 test:  0.9191004357542487

In [65]:
# Podemos observar que el R2 se acerca mucho a 1 con lo que podemos decir que la edad está muy relacionada con la cantidad
# aegurado en dólares con lo que podemos decir que es posible podemos predecir la prima del seguro si conocemos la edad
# del paciente.

In [66]:
# Repetir los pasos 5 y 6 sustituyendo la variable "age" por "BMI" y escribe en tu libreta de Jupyter por qué no es una 
# variable relevante para realizar una predicción acertada del costo del servicio médico.

In [68]:
X2 = pd.DataFrame(df.bmi)
X2.head()

     bmi
0  33.77
1  33.00
2  28.88
3  25.74
4  33.44

In [70]:
X2_train, X2_test, y2_train, y2_test = train_test_split(X2, y, test_size = 0.33)
reg = LinearRegression().fit(X2_train, y2_train)
y2_train_hat = reg.predict(X2_train)
y2_test_hat = reg.predict(X2_test)

print("R2 train: ", r2_score(y2_train, y2_train_hat))
print("R2 test: ", r2_score(y2_test, y2_test_hat))

R2 train:  0.006548163031959819
R2 test:  -0.006925845437054212

In [ ]:
# Podemos observar como el índice que masa corporal no es relevante a la hora de calcular la prima del seguro médico.